# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Dai Yiwei\Desktop\Cornell\2022Spring\CS 5412\Project\TwitterAPI\TwitterAPIv2Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
